#container {
  height: 2000px;
  background-color: #000;
  padding: 50px 30px 0;
}

.circle:nth-child(1),
.circle:nth-child(2),
.circle:nth-child(3) {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.circle:nth-child(1) {
  background-color: crimson;
}
.circle:nth-child(2) {
  background-color: limegreen;
  margin-top: 200px;
}
.circle:nth-child(3) {
  background-color: yellow;
  margin-top: 300px;
}
